
.fauxbullet, /*DEPRECATED*/
.decorative { display: none; }

#uwasearch label { display: block; }

/*
     FILE ARCHIVED ON 18:40:11 Dec 16, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:12:50 Dec 04, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.282
  esindex: 0.02
  LoadShardBlock: 209.915 (3)
  RedisCDXSource: 3.106
  load_resource: 236.908
  CDXLines.iter: 20.704 (3)
  PetaboxLoader3.datanode: 133.158 (5)
  exclusion.robots: 0.306
  PetaboxLoader3.resolve: 126.204 (2)
  captures_list: 257.616
*/